// Styling for Login page

.mainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleContainer {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputBox {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border-color: white;
}

.inputButton {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
}

.footerContainer {
  display: flex;
  margin-top: 15px;
}

.footerText {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 600;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}



// Styling for Signup page

.nameInputs {
  display: flex;
}

.userInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newUserInputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.newUserInputBox {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border-color: white;
}