// Styling for Login page

.mainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleContainer {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 15px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputBox {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border-color: white;
  border-width: 1px;
  margin-bottom: 5px;
}

.inputButton {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;

  &:hover {
    background-color: #9f9f9f;
  }
}

.footerContainer {
  display: flex;
  margin-top: 10px;
}

.footerText {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  color: #737373;
}

// Styling for Signup page

.nameInputs {
  display: flex;
}

.userInputs {
  display: flex;
  flex-direction: column;
}

.newUserInputContainer {
  width: 100%;
}

.newUserInputBox {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border-color: white;
}

.forgotPassword {
  text-align: center;
  margin: 5px;
  margin-top: 10px;
}
