// Styling for Login page

.mainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 15px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputBox {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border-color: white;
  border-width: 1px;
  margin-bottom: 5px;
}

.inputButton {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;

  &:hover {
    background-color: #9f9f9f;
  }
}

.footerContainer {
  display: flex;
  margin-top: 10px;
}

.footerText {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  color: #737373;
}

// Styling for Signup page

.nameInputs {
  display: flex;
}

.userInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newUserInputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.newUserInputBox {
  padding: 5px 10px;
  margin: 5px;
  width: 97%;
  border-radius: 5px;
  border-color: white;
}

.forgotPassword {
  text-align: center;
  margin: 5px;
  margin-top: 10px;
}

.inputButton {
  background-color: #c2fbd7;
  border-radius: 5px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.inputButton:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.02);
}
